<h1>Overzicht van cursussen</h1>

<%# Filters for courses %>
<%= form_for_filterrific @filterrific do |f| %>
  <div id="filters">
    <div class="filter noprint"><b>Sorteer</b><br> <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: 'form-control'}) %></div>
    <div class="filter date-field third"><b>Begindatum vanaf</b><br> <%= f.text_field(:with_startdate_gte, class: 'js-datepicker form-control', :data => {:provide => "datepicker"} ) %></div>
    <div class="filter date-field third"><b>Einddatum t/m</b><br> <%= f.text_field(:with_enddate_lte, class: 'js-datepicker form-control', :data => {:provide => "datepicker"} ) %></div>
    <div class="filter noprint"><br><%= f.submit 'Toepassen', class: "btn btn-default btn-primary" %></div>
    <div class="filter noprint"><br><%= link_to('Reset filters', reset_filterrific_url, class: "btn btn-default btn-danger") %></div>
  </div>
  <div class="loading noprint"><%= render_filterrific_spinner %></div>
  <% if can? :manage, Course %>
    <div class="filter pull-right flickr_pagination noprint" style="margin-top:20px;">
      <%= link_to "Print", '#', onclick: "printpage()" %><%# Print page %>
    </div>
  <% end %>
<% end %>

<%# Get courselist %>
<div class="filterrific-results-content">
  <%= render(partial: 'courses/list', locals: { courses: @courses }) %>
</div>

<% if can? :manage, Course %><%= link_to 'Nieuwe cursus', new_course_path, class: 'noprint' %><% end %>
